{% extends "invApp/base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    <div class="jumbotron text-center">
        <hi class="display-4">Inventory Management System (IMS)</hi>
        <p class="lead">Manage your products efficiently with digital technology</p>
        <hr class="my-4">
        <p>
            To start, use the navigation bar and access the specific functions that cater
            to your specific needs.
        </p>
        <a href="{% url 'invApp:product_list' %}" class="btn btn-primary btn-lg" role="button">View Products</a>
        <a href="{% url 'authApp:dashboard' %}" class="btn btn-primary btn-lg" role="button">Return to Dashboard</a>
    </div>
{% endblock content %}